# Python
__pycache__/
*.py[cod]
*.env
*.sqlite3
venv/
env/
*.egg-info/
*.egg
*.pyc

# Django
db.sqlite3
/staticfiles
media/

# IDEs and editors
.vscode/
.idea/
*.sublime-project
*.sublime-workspace

# Environment variables
.env
